/* _content/BlazorApp1/Pages/Login.razor.rz.scp.css */
html[b-yhn00id1ct], body[b-yhn00id1ct] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #FFF2E2;
}
.main-login[b-yhn00id1ct] {
    height: 30rem;
    width: 50rem;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    flex-direction: column;
}

.divLoginBox[b-yhn00id1ct] {
    display: flex;
    flex-direction: row;
}

.loginBox[b-yhn00id1ct] {
    background-color: #A3B68A;
    height: 30rem;
    width: auto;
    margin: auto;
    flex: 1;
    margin-right: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 4px 4px gray;
}

.signup[b-yhn00id1ct] {
    margin: auto;
    padding-top: 1rem;
}

.login-ref-button[b-yhn00id1ct] {
    background-color: #CAD8F3;
    border-radius: 8px;
    width: 50%;
    margin: auto;
}

.login-ref-text[b-yhn00id1ct] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.loginButton[b-yhn00id1ct] {
    border-radius: 8px;
    background-color: #CAD8F3;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    height: 2.8rem;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    box-shadow: 4px 4px gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .loginButton span[b-yhn00id1ct] {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .loginButton span[b-yhn00id1ct]:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .loginButton:hover span[b-yhn00id1ct] {
        padding-right: 25px;
    }

        .loginButton:hover span[b-yhn00id1ct]:after {
            opacity: 1;
            right: 0;
        }
/* _content/BlazorApp1/Pages/Modal.razor.rz.scp.css */
body[b-cfmg0g23to] {
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 100vh;
}

h1[b-cfmg0g23to] {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.box[b-cfmg0g23to] {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: none;
    border-radius: 10px;
    background-clip: padding-box;
    text-align: center;

    background-color: red;
}

.button[b-cfmg0g23to] {
    font-size: 1em;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #CAD8F3;
    box-shadow: 4px 4px gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .button:hover[b-cfmg0g23to] {
        background: white;
    }

.overlay[b-cfmg0g23to] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target[b-cfmg0g23to] {
        visibility: visible;
        opacity: 1;
    }

.popup[b-cfmg0g23to] {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popup h2[b-cfmg0g23to] {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close[b-cfmg0g23to] {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;S
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover[b-cfmg0g23to] {
            color: #06D85F;
        }

    .popup .content[b-cfmg0g23to] {
        max-height: 30%;
        overflow: auto;
    }

@media screen and (max-width: 700px) {
    .box[b-cfmg0g23to] {
        width: 70%;
    }

    .popup[b-cfmg0g23to] {
        width: 70%;
    }
}
/* _content/BlazorApp1/Pages/Payment.razor.rz.scp.css */
.body[b-3i5e358ze9] {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}




.container[b-3i5e358ze9] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    padding-bottom: 70px;
}


    .container form[b-3i5e358ze9] {
        padding: 20px;
        width: 700px;
        background: #9EBC9E;
        box-shadow: 0 5px 10px;
        border-radius: 10px;
    }

        .container form .row .col[b-3i5e358ze9] {
            flex: 1 1 250px;
        }


            .container form .row .col .title[b-3i5e358ze9] {
                font-size: 20px;
                color: #333;
                padding-bottom: 5px;
                text-transform: uppercase;
            }



            .container form .row .col .inputbox span[b-3i5e358ze9] {
                margin-bottom: 10px;
                display: block;
                margin-top: 7%;
            }

            .container form .row .col .inputbox input[b-3i5e358ze9] {
                width: 100%;
                border: 1px solid #FFFFFF;
                padding: 10px 15px;
                text-transform: none;
                border-radius: 10px;
            }

                .container form .row .col .inputbox input:focus[b-3i5e358ze9] {
                    border: 1px solid #000000;
                }

            .container form .row .col .flex[b-3i5e358ze9] {
                display: flex;
                gap: 15px;
                border-radius: 10px;
            }

                .container form .row .col .flex .inputbox[b-3i5e358ze9] {
                    margin-top: 5px;
                }

            .container form .row .col .inputbox img[b-3i5e358ze9] {
                height: 34px;
                margin-top: 5px;
                filter: drop-shadow(0 0 1px #000)
            }

        .container form .submit-btn[b-3i5e358ze9] {
            width: 100%;
            padding: 12px;
            font-size: 17px;
            background-color: #2E5073;
            color: #FFFFFF;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 20px;
            border: none;
        }

            .container form .submit-btn:hover[b-3i5e358ze9] {
                background-color: #456e99;
            }
/* _content/BlazorApp1/Shared/MainLayout.razor.rz.scp.css */
.page[b-45rkf8v3vv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-45rkf8v3vv] {
    flex: 1;
}

.sidebar[b-45rkf8v3vv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-45rkf8v3vv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-45rkf8v3vv]  a, .top-row .btn-link[b-45rkf8v3vv] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-45rkf8v3vv] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-45rkf8v3vv] {
        display: none;
    }

    .top-row.auth[b-45rkf8v3vv] {
        justify-content: space-between;
    }

    .top-row a[b-45rkf8v3vv], .top-row .btn-link[b-45rkf8v3vv] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-45rkf8v3vv] {
        flex-direction: row;
    }

    .sidebar[b-45rkf8v3vv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-45rkf8v3vv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-45rkf8v3vv], article[b-45rkf8v3vv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp1/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b5wscdn8ts] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b5wscdn8ts] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-b5wscdn8ts] {
    font-size: 1.1rem;
}

.oi[b-b5wscdn8ts] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b5wscdn8ts] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b5wscdn8ts] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b5wscdn8ts] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b5wscdn8ts]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b5wscdn8ts]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b5wscdn8ts]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b5wscdn8ts] {
        display: none;
    }

    .collapse[b-b5wscdn8ts] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
