body {
    font-family: Lato;
    background-color: #fff2e2;
}

.sign-button {
    background-color: #2E5073;
    border: none;
    color: white;
    height: auto;
    width: 150px;
    border-radius: 8px;
}

.sign-up-form {
    width: 400px;
    background-color: #A3B68A;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 4px 4px grey;
}

input[type="radio"] {
    margin: 0 25px 0 0px;
}

input[type="text"], input[type="password"], input[type="number"] {
    border-radius: 8px;
    width: 200px;
}

.logoCenter {
    max-width: 20%;
    max-height: 100px;
    border: none;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
