@page "/"

<PageTitle>Customer browsing</PageTitle>
<html>





<body>

<h1></h1>
    <div class="logo"><img src="/Scuffed_cat.png" width="250" height="100"></div>

    <div class="sidebar">
        <h2>Total Too Good To Go ripoff</h2>
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="fas fa-server"></i>
                    <span>Forside</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-concierge-bell"></i>
                    <span>et eller andet</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Et eller andet</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span>Indstillinger</span>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <i class="fas fa-question-circle"></i>
                    <span>Profil</span>
                    
                    <div class="billede"><img src="/Figma.png" width="100" height="100"></div>

                    
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-address-card"></i>
                    <span>Delete Profile</span>
                </a>
            </li>
        </ul>
    </div>

    

    <div class="cards">
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            <div class="button__remove">
                    <button>-</button>
                </div>
             <div class="button__delete">
                <button>X</button>
            </div>
            <div class="button__add">
                <button>+</button>
            </div>



        </div>

        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>

        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>

        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>

        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>

        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>

        

        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>



        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>



        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>



        </div>
        <div class="card">
            <img src="/luckybag.png" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Butik
                </p>
                <p>
                    andet
                </p>
                <p>
                    andet
                </p>
            </div>
            <div class="card__info">
                <div>
                    pris$$$
                </div>
                <div>
                    <a href="./" class="card__link">View more</a>
                </div>

            </div>





        </div>
    </div>


    <div class="shopping__cart">
        <div class="cart">
            <img src="/cart.png" width="50" height="50" alt="" class="card__image">
            <div class="card__content">
                <p>
                    Varer
                </p>
                <p>
                    Antal
                </p>
                <p>
                    Pris i alt
                </p>
            </div>
            <div class="card__info">
               
                <div>
                    <a href="./" class="#">Gå til betaling</a>
                </div>
            </div>
    </div>
    </div>


    

  
    

</body>
</html>