@page "/login"
<body>
    <PageTitle>Index</PageTitle>
    <div class="main-login">
        <div class="divLoginBox">
            <div class="loginBox">
                <div class="login-ref-text">
                    <h3 style="font-weight: 600;">Customer Login</h3>
                    <a> This will take take you to the login portal for customers</a>
                </div>
                <img src="images/userLogin.png" style="height: 150px; width: 150px; margin: auto;" />
                <button class="loginButton" style="vertical-align:middle" href="/createaccount"><span>Click To Login</span></button>
            </div>
            <div class="loginBox">
                <div class="login-ref-text">
                    <h3 style="font-weight: 600;">Business Login</h3>
                    <a> This will take take you to the login portal for businesses</a>
                </div>
                <img src="images/usersLogin.png" style="height: 150px; width: 150px; margin: auto;" />
                <button class="loginButton" style="vertical-align:middle"><span>Click To Login</span></button>
            </div>
        </div>
        <h5 class="signup">Don't have a login yet? Click <a href="/createaccount">here</a> to sign up now!</h5>
    </div>S
</body>
@code {

}
