@page "/loginbusiness"
  <PageTitle>Businesslogin</PageTitle>
<!DOCTYPE html>
 
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="loginbusiness.razor.css">
</head>
<body>
    <div class="container">
        <form class="form" id="login">
            <h1 class="form__title">Business login</h1>
            <div class="form__input-group">
                <input type="text" class="form__input" autofcous placeholder="Business email" />
            </div>
 
            <div class="form__input-group">
                <input type="password" class="form__input" autofcous placeholder="Password" />
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Login</button>
            <p class="form__title">
                <a href="#" class="form__link">Don't remember your password?</a>
            </p>
            <p class="form__title">
                <a href="#" class="form__link">Don't have an account? Create one now!</a>
            </p>
 
 
 
 
 
        </form>
    </div>
</body>
</html>
@code {

}