@page "/modal"

<div class="box">
	<a class="button" href="#popup1">Order Button</a>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Order Confirmation</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Your order has been received. Please check your email for further information - thank you!
		</div>
	</div>
</div>
@code {

}
