@page "/sale"
<PageTitle>Sales record</PageTitle>

<!--Ordre detaljer, datatid, bestilt til -->

<body>
	<img class="logoRight" src="images/logo-placeholder.jpg">
<br>
    <table class="tableform">
            <tr>
                <td><b>Customer</b></td>
                <td><b>Date</b></td>
                <td><b>Details</b></td>
            </tr>

            <!--Placeholder for fyld i table, skal bare slettet-->
            <tr>
                <td>Tekst</td>
                <td>Tekst</td>
                <td>Tekst</td>
            </tr>
            <tr>
                <td>Tekst</td>
                <td>Tekst</td>
                <td>Tekst</td>
            </tr>

            <!--Kode til at generere et table fra database for den virksomhed der er logget ind -->
            <!--Øvrigt bruge inspriation fra FetchData.razor til at starte med -->
    </table>
</body>
@code {

}
