@page "/Lucky-bag_specification"
<PageTitle>Specification</PageTitle>

<body>
	<a href="#" class="previous">&#8249;</a> <!--Tilbageknap, som bare fører tilbage til starten for nu-->
	<img class="logoRight" src="images/logo-placeholder.jpg">

	<img class="luckyBagimg" src="images/placeholder-img.png">
	<br>
<div class="textarea">
	Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst. Hello dette er en placeholder tekst.
</div>
</body>


@code {

}
