body {
    font-family: Lato;
    background-color: #fff2e2;
}

.logoRight {
    float: right;
    outline: none;
    max-width: 10%;
    max-height: 10%;
}


.luckyBagimg {
    display: grid;
    border: none;
    max-width: 225px;
    max-height: 225px;
    margin: auto;
}

.textarea {
    width: 500px;
    border: none;
    margin: auto;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    float: left;
}