@page "/sale"
<PageTitle>Create Account</PageTitle>

<!--Ordre detaljer, datatid, bestilt til -->
<style>

    table {
        background-color: white;
        width: 100%;
    }

    th, td {
        border: 1px solid;
        padding: 15px;
    }
</style>

<h1>Sales Record</h1>
<br>
    <table>
        <thead>
            <tr>
                <th><b>Customer</b></th>
                <th><b>Date</b></th>
                <th><b>Details</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <!--Kode til at generere et table fra database for den virksomhed der er logget ind -->
            <!--Øvrigt bruge inspriation fra FetchData.razor til at starte med -->
        </tbody>
    </table>
@code {

}
