button {
    background-color: #2E5073;
    color: white;
    border: none;
    height: auto;
    width: 150px;
}

.sign-up-form {
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color: #A3B68A;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 4px 4px grey;
}

input[type="radio"] {
    margin: 0 25px 0 0px;
}

img {
    display: block;
    max-width: 20%;
    height: 100px;
    margin-right: 60%;
    margin-left: 40%;
}
