@page "/"

<PageTitle>Business stock</PageTitle>
<html>
    <h3>Stock of Lucky-bags for _____, butik nr. ___</h3>





<body>
    <label for="Butiks nummer">Vælg butiks nr.</label>
    <select name="Butiks nr." id="Store numbers">
        <option value="1">Butik nr. 1</option>
        <option value="2">Butik nr. 2</option>
        <option value="3">Butik nr. 3</option>
        <option value="4">Butik nr. 4</option>
    </select>
    <table >
        <tr>
            <th>Lucky-bag ID?</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Antal</th>
        </tr>
        <tr>
            <td>291</td>
            <td>X</td>
            <td>Bla bla</td>
            <td>200 kr</td>
            <td>5 stk</td>
        </tr>
        <tr>
            <td>001</td>
            <td>Xk</td>
            <td>Bla bla</td>
            <td>159 kr</td>
            <td>1 stk</td>
        </tr>

    </table>


    <div class="upd_button">
        <div>
            <a href="./" class="update__link">Update bag</a>
        </div>
    </div>

    <div class="del_button"
        <div>
            <a href="./" class="delete__link">Delete bag</a>
        </div>
    </div>
    
</body>
</html>